.timeline-row {
  display: grid;
  grid-template-columns: auto 60px minmax(0, 1fr); // rok | osa | karta
  column-gap: space(9);
  align-items: center;

  /* --------------------------------levý sloupec – rok */
  .timeline-year-cell {
    display: flex;
    align-items: center;

    .timeline-year {
      font-family: "Jersey 25", sans-serif;
      font-size: font-size("4xl");
      color: var(--color-text-4);
    }
  }

  /* --------------------------------prostřední sloupec – osa + kulička */
  /* osa + tečka */
  .timeline-axis-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* tečka */
  .timeline-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-text-4);
  }

  /* --------------------------------pravý sloupec – karta */
  .timeline-card-cell {
    display: flex;
    align-items: flex-start;
  }

    /* --------------------------------animace pro rok a kartu */
  .timeline-year-cell,
  .timeline-card-cell {
    opacity: 0;
    transform: translateY(40px);
    animation: year-card-animation 0.7s ease forwards;
  }

  /* delay pro jednotlivé řádky */
  &:nth-child(3) .timeline-year-cell,
  &:nth-child(3) .timeline-card-cell {
    animation-delay: 0.1s;
  }

  &:nth-child(2) .timeline-year-cell,
  &:nth-child(2) .timeline-card-cell {
    animation-delay: 0.4s;
  }

  &:nth-child(1) .timeline-year-cell,
  &:nth-child(1) .timeline-card-cell {
    animation-delay: 0.7s;
  }

  /* --- breakpoints --- */
  @include max(lg) {
    column-gap: space(3);
  }

  @include max(md) {
    grid-template-columns: 40px minmax(0, 1fr);

    .timeline-year-cell {
      display: none;
    }
  }
}

/* animace */
@keyframes year-card-animation {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
