.portfolio-wrapper {
  padding-top: $padding-top-xl;

  @include max(md) {
    padding-top: $padding-top-md;
  }
}

/* Embla Carousel */
.embla {
  --slide-spacing: #{space(7)};
  --slide-size: 100%;
  perspective: 1000px;

  /* Tablet: 2 karty */
  @include min(md) {
    --slide-size: 50%;
  }

  /* Desktop: 3 karty */
  @include min(lg) {
    --slide-size: 33.3%;
  }

  &__viewport {
    overflow: hidden;
    --bleed: 80px; //rezerva pro 3D efekt (kvůli overflow hidden)
    padding-block: var(--bleed);
    margin-block: calc(var(--bleed) * -1);
  }

  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    transform-style: preserve-3d;
    margin-left: calc(var(--slide-spacing) * -1);     // spacing mezi slidy (doporučený pattern)
  }

  &__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    perspective: 1200px;
    perspective-origin: 50% 50%;
    /* aby karta vyplnila slide */
    > .portfolio-card {
      height: 100%;
    }
  }

  /* ------tečky */
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: space(5);
    margin-top: space(6);
    opacity: 0;
    animation: portfolio-dot-pop 0.35s ease 0.9s forwards;
  }

  &__dot {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    border: 2px solid var(--color-text);
    background: transparent;
    cursor: pointer;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: var(--color-text-1);
    }

    &:focus-visible {
      outline: 2px solid var(--color-text);
      outline-offset: 3px;
    }

    &.is-selected {
      background: var(--color-text);
      border-color: var(--color-text);
    }
  }
}

/* animace zobrazení teček - STEJNÝ JAKO V HERO*/
@keyframes portfolio-dot-pop {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
